@model IEnumerable<DALPro.Models.Employer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllEmployers</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerPwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerClients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerPwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerClients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
